$primary-color: #4dbd74;
$secondary-color: #e4606d;
$hover-primary: lighten($primary-color, 10%);
$hover-secondary: lighten($secondary-color, 10%);
$focus-outline: rgba(0, 123, 255, 0.5);

.custom-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  // Input styling
  .custom-switch-input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus + .custom-switch-label {
      box-shadow: 0 0 0 3px $focus-outline;
    }
  }

  // Label styling (inactive and active background color)
  .custom-switch-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-color;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;

    &:hover {
      background-color: $hover-secondary;
    }

    // Circle styling inside the switch
    &:before {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }

  // Checked (active) state
  .custom-switch-input:checked + .custom-switch-label {
    background-color: $primary-color;

    &:hover {
      background-color: $hover-primary;
    }

    // Circle position change when checked
    &:before {
      transform: translateX(20px);
    }
  }
}
