/* Customnavbar1.css */
.navbar1 {
    background-color: black;
    color: white;
    padding: 10px 20px; /* Add some padding for a better look */
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
  }
  
  .navbar1.scrolled {
    background-color: rgb(47, 79, 79); /* Change background color when scrolled */
    box-shadow: 0 2px 10px rgba(47, 79, 79, 0.5);
  }
  
  .container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar1-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar1-toggle {
    display: none; /* Initially hidden */
    cursor: pointer;
  }
  
  .navbar1-collapse {
    display: flex; /* Flexbox for navbar1 items */
    align-items: center;
  }
  
  .navbar1-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

.nav1-item {
    position: relative; /* Set position to relative to position tooltip */
    margin-left: 20px; /* Spacing between nav items */
  }
  
  .tooltip1 {
    visibility: hidden; /* Hidden by default */
    width: 120px; /* Adjust width as needed */
    background-color: rgba(0, 0, 0, 0.8); /* Background color of tooltip */
    color: #fff; /* Text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Some padding */
    position: absolute; /* Positioning tooltip */
    z-index: 1; /* Layering above other elements */
    bottom: 125%; /* Position above the item */
    left: 50%; /* Center it */
    margin-left: -60px; /* Center it properly */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s; /* Fade effect */
  }
  
  .nav1-item:hover .tooltip {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1; /* Make it fully visible */
  }
  
  /* Optional: Adjust the position of the tooltip on hover */
  .nav1-item:hover {
    /* Add any hover styles to the nav item here if needed */
  }
  
  .nav1-link {
    color: white;
    text-decoration: none;
  }
  
  .show1 {
    display: flex; /* Show the menu when isOpen is true */
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .navbar1-toggle {
      display: block; /* Show toggle button on smaller screens */
    }
  
    .navbar1-collapse {
      display: none; /* Initially hide the collapsible items */
      flex-direction: column; /* Stack items vertically */
      width: 100%;
      background-color: darkslategray; /* Same color as navbar1 */
      position: absolute;
      top: 60px; /* Adjust to fit below navbar1 */
      left: 0;
    }
    .navbar1-nav {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    .navbar1-collapse.show {
      display: flex; /* Show menu items when toggled */
    }
  
    .nav1-item {
      margin: 10px 0; /* Add spacing for vertical items */
    }
  }
  